
*{
    margin: 0%;
    padding: 0%;
}
.star-rating {
  font-size: 2em;
  margin-top: 30px;
  margin-left: 90px;
  color: #ccc;
  cursor: pointer;
}
 
.star.filled {
  color: gold;
}
 
.star:hover {
  color: orange;
}
 
#feed{
    height: 50px;
    width: 270px;
    margin-left: 35px;
    margin-top: 30px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 23px;
    margin-top: 80px;
    margin-left: 40px;
}
#bloco {
    width: 350px;
    height: 650px;
    display: block;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    background-color: #d46bca;
    border-radius: 25px;
    border: 5px solid rgb(107, 107, 107);
 
}
textarea::placeholder{
    padding: 10px;
}
 
/*mapa*/
    .leaflet-container {
      height: 270px;
      width: 270px;
            margin-top: 40px;
            margin-left: 40px;
            border-radius: 10px;
      max-width: 100%;
      max-height: 100%;
    }
 
 
 

























/*
#index #bloco img {
    width: 350px;
    margin: 40% auto 0 auto;
    display: block;
    margin-right: 250px;
}
#index #bloco .container a{
    text-align: center;
    width: 100px;
    padding: 10px;
    margin-left: 120px;
    background-color: #b65eb6;
    border: 1px solid #ccc;
    border-radius: 10px;
}
h1{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 20px;
    justify-content: center;
    padding-top: 190px;
    padding-left: 135px;
}
h2{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 30px;
    padding-left: 70px;
    
}
input{
padding-bottom: 10px;
border-radius: 10px;
width: 200px;
margin-left: 60px;
}
 #bloco .container a{
    text-align: center;
   width: 100px;
    padding: 10px;
    margin-left: 107px;
    margin-top: 50px;
    background-color: #b65eb6;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    display: block;
    background-color: #d46bca;
    margin-left: 500px;
    margin-top: 40px;
    border-radius: 25px;
    border: 5px solid rgb(107, 107, 107);
}
h1{
    font-size: 28px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

.imagensComoIr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px;
    padding-right: 30%;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}
.imagensComoIr img{
    margin-top: 50px;
    width: 100px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.imagensComoIr img:hover {
    transform: scale(1.1);
}
textarea::placeholder{
    padding: 10px;
}

/* mapa */
.leaflet-container {
    height: 270px;
    width: 270px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}