
#bloco {
    width: 350px;
    height: 650px;
    display: block;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    background-color: #d46bca;
    border-radius: 25px;
    border: 5px solid rgb(107, 107, 107);
}

h1{
    font-size: 28px;
    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}
.imagenscomoir {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 60px 18px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}
.icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.icone img {
   
    width: 100px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-bottom: 5px;
}
.icone.icone-nome {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #272727;
    text-align: center;
    margin: 0;
}
.icone:hover img {
    transform: scale(1.1);
}


