*{
    padding: 0;
    margin: 0;
}
#bloco{
    width: 350px;
    height: 650px;
    float: left;
    margin: 40px;
    display: block;
    background-color: #d46bca;
    margin-left:500px ;
    margin-top:40px;
    border-radius: 25px;
    border: 8px solid rgb(107, 107, 107);
}
#index #bloco img {
    width: 350px;
    margin: 40% auto 0 auto;
    display: block;
    margin-right: 250px;
}
#index #bloco .container a{
    width: 100px;
    padding: 10px;
    margin-left: 145px;
    background-color: #b65eb6;
    border: 1px solid #ccc;
    border-radius: 10px;
}
h1{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 20px;
    justify-content: center;
    padding-top: 190px;
    padding-left: 135px;
}
h2{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 30px;
    padding-left: 70px;
    
}
input{
padding-bottom: 10px;
border-radius: 10px;
width: 200px;
margin-left: 60px;
}
 #bloco .container a{
   width: 100px;
    padding: 10px;
    margin-left: 145px;
    padding-bottom: 50px;
    background-color: #b65eb6;
    border: 1px solid #ccc;
    border-radius: 10px;
}





/*body{

    background-color: #d46bca;
}
.container{
    width: 100%;
    display: block;
    float: left;
    height: auto;
}

#index .container img {
    width: 100%;
    margin: 40% auto;
    display: block;
    margin-right: 250px;
}
h1{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 20px;
    justify-content: center;
    padding-top: 150px;
    padding-left: 112px;
}
h2{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 20px;
    padding-left: 40px;
    
}
input{
padding-bottom: 10px;
border-radius: 10px;
padding-left: 20px;
margin-left: 40px;
text-align: center;
}*/