#bloco{
    width: 350px;
    height: 650px;
    float: left;
    display: block;
    background-color: #d46bca;
    margin-left: 500px;
    margin-top: 40px;
    border-radius: 25px;
    border: 5px solid rgb(107, 107, 107);
}
h1{
    font-size: 28px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

.imagensComoIr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px;
    padding-right: 30%;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}
.imagensComoIr img{
    margin-top: 50px;
    width: 100px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.imagensComoIr img:hover {
    transform: scale(1.1);
}





















/*body{
    background-color:#d46bca;
}
h1{
    font-size: 23px;
    margin-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;

}
.blocos{
    width: 70px;
    height: 60px;
    display: grid;
    float: left;
    background-color: white;
    margin: 5px;
    border-radius: 10%;
    margin-top: 20%;
    margin-bottom: -110px;
    margin-right: -49;
}
.blocos2 {
    width: 70px;
    height: 60px; 
    color: black;
    margin: 5px;
    border-radius: 10%;
    margin-top: 10%;
    margin-bottom: 10px;
    margin-right: -49;
}*/   



