*{
    background-color: #d46bca;
    margin: 0%;
    padding: 0%;
}
#feed{
    height: 200px;
    width: 200px;
    color: rgb(0, 0, 0);
    margin-left: 50px;
    margin-top: 90px;
    border-color: aliceblue;
    border-radius: 10px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 25px;
}