*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #d46bca;
}
.container{
    width: 100%;
    display: block;
    float: left;
    height: auto;
}

#index .container img  {
    width: 100%;
    margin: 40% auto;
    display: block;
    margin-right: 250px;
}
h1{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 500px;
}
h1{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 70px;
}
h2{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 70px;
    
}
input{
padding-bottom: 10px;
border-radius: 10px;
}